/* 7) Contact Us */

position: relative;
width: 1440px;
height: 3101px;

background: #171820;


/* Background */

position: absolute;
width: 1440px;
height: 1350px;
left: 0px;
top: 0px;

opacity: 0.8;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 72px;
gap: 40px;

position: absolute;
width: 1440px;
height: 511px;
left: 0px;
top: 2590px;



/* Frame 427321677 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 92px;

width: 1296px;
height: 183.18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321703 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 461px;
height: 183.18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321688 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 461px;
height: 105px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Delta Tango Advisory Trusted advisors to organisations operating in complex environments where discretion, precision, and accountability matter. We simplify complex programmes so teams can focus on what matters. */

width: 422px;
height: 105px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1321321276 */

width: 46px;
height: 18.18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Social media */

position: absolute;
width: 18px;
height: 18px;
left: 0px;
top: 165.18px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Social media */

position: absolute;
width: 18px;
height: 18px;
left: 28px;
top: 165px;



/* Group */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;



/* Vector */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 24.32%;
right: 24.32%;
top: 24.33%;
bottom: 24.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 70.7%;
right: 17.3%;
top: 17.3%;
bottom: 70.71%;

background: #FFFFFF;


/* Frame 427321712 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 189px;
height: 149px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* COMPANY */

width: 189px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Services */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* About */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Team */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Insights */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 427321709 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 189px;
height: 149px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* SERVICES */

width: 189px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Operational Excellence */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* P3 Management */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Management Advisory */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Assurance */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 427321713 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 189px;
height: 119px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* CONTACT */

width: 189px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Start a conversation */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;
text-decoration-line: underline;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* contact@deltatango.com.au */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 02 7228 7923 */

width: 189px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 427321679 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1296px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 1 */

width: 1296px;
height: 0px;

border: 1px solid #928C97;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321699 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 1296px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 427321679 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 492px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* © 2026 Delta Tango Advisory. All Rights Reserved. */

width: 353px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1 */

width: 2px;
height: 2px;

background: #928C97;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Terms */

width: 36px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 1 */

width: 2px;
height: 2px;

background: #928C97;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Privacy */

width: 51px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Hero Sections */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 76px 72px;
gap: 64px;

position: absolute;
width: 1440px;
height: 784px;
left: 0px;
top: 121px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 36px;

width: 684px;
height: 632px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* // CONTACT US */

width: 684px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321958 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 0px;
gap: 40px;

width: 684px;
height: 206px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 427321750 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 684px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* heading */

width: 684px;
height: 112px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 56px;
/* or 117% */
display: flex;
align-items: center;
letter-spacing: -2px;
font-feature-settings: 'zero' on;

/* White/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Tell us about your organisation and the challenge you're facing. We'll review your enquiry and respond directly. */

width: 684px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 36px;
/* or 180% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Group 1321321301 */

width: 559px;
height: 299px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Group 1321321298 */

position: absolute;
width: 559px;
height: 95px;
left: 0px;
top: 295px;



/* Paragraph+VerticalBorder */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 0px;
gap: 6px;

position: absolute;
width: 559px;
height: 95px;
left: 0px;
top: 295px;



/* Headquarters */

width: 559px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* or 103% */
display: flex;
align-items: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Australia */

width: 559px;
height: 33px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
/* identical to box height, or 206% */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Group 1321321297 */

position: absolute;
width: 559px;
height: 95px;
left: 0px;
top: 397px;



/* Paragraph+VerticalBorder */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 0px;
gap: 6px;

position: absolute;
width: 559px;
height: 95px;
left: 0px;
top: 397px;



/* Operating regions */

width: 559px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* or 103% */
display: flex;
align-items: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Australia · Asia-Pacific · Europe · International */

width: 559px;
height: 33px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
/* identical to box height, or 206% */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Group 1321321299 */

position: absolute;
width: 559px;
height: 95px;
left: 0px;
top: 499px;



/* Paragraph+VerticalBorder */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 0px;
gap: 6px;

position: absolute;
width: 559px;
height: 95px;
left: 0px;
top: 499px;



/* Sectors */

width: 559px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 16px;
/* or 103% */
display: flex;
align-items: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Government · Defence · Telco · Financial Services · Procurement */

width: 559px;
height: 33px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 33px;
/* identical to box height, or 206% */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 14px;
gap: 8px;

width: 548px;
height: 632px;

background: rgba(33, 34, 44, 0.5);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 14px;
gap: 39px;

width: 480px;
height: 583px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Form fields */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 452px;
height: 480px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 452px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 210px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* _Input field base */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 210px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 210px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 84px;
height: 20px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 210px;
height: 48px;

background: #171820;
border: 1px solid #626475;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 178px;
height: 24px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* mail */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 178px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #F5F5F7;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Help icon */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/600 */
color: #535862;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 210px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* _Input field base */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 210px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 210px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 76px;
height: 20px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-transform: uppercase;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 210px;
height: 48px;

background: #171820;
border: 1px solid #626475;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 178px;
height: 24px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* mail */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 178px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #F5F5F7;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Help icon */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/600 */
color: #535862;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 452px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* _Input field base */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 452px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 452px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 42px;
height: 20px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 452px;
height: 48px;

background: #171820;
border: 1px solid #626475;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 420px;
height: 24px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* mail */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 420px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #F5F5F7;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Help icon */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/600 */
color: #535862;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 452px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* _Input field base */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 452px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 452px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 101px;
height: 20px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 8px;

width: 452px;
height: 48px;

background: #171820;
border: 1px solid #626475;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 420px;
height: 24px;

opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* mail */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 420px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #F5F5F5;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Help icon */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/600 */
color: #535862;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Textarea input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 452px;
height: 154px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* _Textarea input field base */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 452px;
height: 154px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 452px;
height: 154px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Label */

width: 59px;
height: 20px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 8px;

width: 452px;
height: 128px;

background: #171820;
border: 1px solid #626475;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(10, 13, 18, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Text */

display: none;
width: 292px;
height: 108px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Gray/500 */
color: #717680;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/600 */
color: #535862;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 452px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Checkbox base */

box-sizing: border-box;

width: 20px;
height: 20px;

border: 1px solid #F5F5F7;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 424px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Buttons (Small) */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 152px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Buttons (Primary) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 33px;
gap: 10px;

width: 452px;
height: 36px;

border: 1px solid #E9B26D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* PLACEHOLDER TEXT */

width: 133px;
height: 18px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #F8C483;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hero Sections */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 112px 76px;
gap: 64px;

position: absolute;
width: 1440px;
height: 938px;
left: 0px;
top: 905px;

background: #21222C;


/* Image */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 0px;
gap: 8px;

width: 612px;
height: 714px;

background: url(1.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Container */

width: 612px;
height: 714px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* _Contact text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 116px 24px;
gap: 116px;

position: absolute;
width: 296px;
height: 347px;
left: 0px;
top: 0px;

background: #171820;


/* Frame 427321825 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 56px;
height: 56px;

background: #21222C;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sms-notification */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vuesax/broken/sms-notification */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* sms-notification */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 41.67%;
top: 14.58%;
bottom: 64.58%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 43.75%;
bottom: 14.58%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 29.17%;
right: 37.25%;
top: 37.5%;
bottom: 49.52%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 70.83%;
right: 8.33%;
top: 12.5%;
bottom: 66.67%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 248px;
height: 106px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 248px;
height: 62px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 248px;
height: 30px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 248px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 207px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Button base */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 207px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sales@untitledui.com */

width: 207px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Contact text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 116px 24px;
gap: 116px;

position: absolute;
width: 296px;
height: 347px;
left: 315.5px;
top: 0px;

background: #171820;


/* Frame 427321826 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 56px;
height: 56px;

background: #21222C;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* message-search */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vuesax/broken/message-search */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* message-search */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.2%;
bottom: 8.21%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 62.5%;
right: 10.83%;
top: 62.5%;
bottom: 10.83%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 87.5%;
right: 8.33%;
top: 87.5%;
bottom: 8.33%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;


/* Vector */

position: absolute;
left: 64.59%;
right: 31.25%;
top: 43.75%;
bottom: 52.08%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 47.92%;
right: 47.92%;
top: 43.75%;
bottom: 52.08%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 31.25%;
right: 64.59%;
top: 43.75%;
bottom: 52.08%;

border: 1.5px solid #E9B26D;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 248px;
height: 106px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 248px;
height: 62px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 248px;
height: 30px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 248px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 183px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Button base */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 183px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sales@untitledui.com */

width: 183px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Contact text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 24px;
gap: 116px;

position: absolute;
width: 296px;
height: 347px;
left: 0px;
top: 366.5px;

background: #171820;


/* Frame 427321826 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 56px;
height: 56px;

background: #21222C;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* call-calling */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vuesax/broken/call-calling */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* call-calling */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.46%;
top: 8.33%;
bottom: 8.33%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 62.5%;
right: 22.92%;
top: 22.92%;
bottom: 62.5%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 62.5%;
right: 29.12%;
top: 8.33%;
bottom: 90.46%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 79.25%;
right: 8.34%;
top: 13.62%;
bottom: 62.5%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 248px;
height: 106px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 248px;
height: 62px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 248px;
height: 30px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 248px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 102px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Button base */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 102px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sales@untitledui.com */

width: 102px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Contact text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 116px 24px;
gap: 116px;

position: absolute;
width: 296px;
height: 347px;
left: 315.5px;
top: 366.5px;

background: #171820;


/* Frame 427321826 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 56px;
height: 56px;

background: #21222C;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* location */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vuesax/broken/location */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* location */

position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 37%;
right: 37%;
top: 29.96%;
bottom: 44.04%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 14.06%;
right: 14.07%;
top: 8.35%;
bottom: 8.31%;

border: 1.5px solid #E9B26D;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 248px;
height: 112px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 248px;
height: 62px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 248px;
height: 30px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 248px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 182px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Button base */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 182px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* sales@untitledui.com */

width: 182px;
height: 30px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 7px;
/* or 44% */
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 41986 */

position: absolute;
width: 1288px;
height: 523px;
left: 76px;
top: 1955px;

background: url(snazzy-image (2).png);


/* location */

position: absolute;
width: 46px;
height: 46px;
left: 815px;
top: 2246px;



/* vuesax/bold/location */

position: absolute;
width: 46px;
height: 46px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 13%;
right: 13.04%;
top: 7.29%;
bottom: 7.29%;

background: #E9B26D;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

opacity: 0;
transform: rotate(-180deg);


/* Navbar */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 1440px;
height: 120px;
left: 0px;
top: 0px;



/* navbar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 20px 72px;
gap: 54px;

width: 1440px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 176px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Brand */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;

display: none;
width: 48px;
height: 48px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1321321270 */

width: 104.77px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 1321321267 */

position: absolute;
width: 104.77px;
height: 50px;
left: 0px;
top: 0px;



/* Group 1321321266 */

position: absolute;
width: 104.77px;
height: 50px;
left: 0px;
top: 0px;



/* Group 1171275226 */

position: absolute;
width: 104.77px;
height: 25.67px;
left: 0px;
top: 0px;



/* Layer_1 */

position: absolute;
width: 104.77px;
height: 25.67px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 24.24%;
right: 58.62%;
top: 0%;
bottom: 0.85%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 45.41%;
right: 39.32%;
top: 0.06%;
bottom: 0.79%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 74.49%;
right: 0%;
top: 0.06%;
bottom: 0.79%;

background: #E7E8E8;


/* Group */

position: absolute;
left: 0%;
right: 77.51%;
top: 0.05%;
bottom: 0.29%;



/* Vector */

position: absolute;
left: 0.01%;
right: 81.8%;
top: 73.18%;
bottom: 0.29%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 9.85%;
right: 77.51%;
top: 1.37%;
bottom: 12.55%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 0%;
right: 88.03%;
top: 0.05%;
bottom: 0.33%;

background: #E9B26D;


/* Vector */

position: absolute;
left: 58.66%;
right: 22.95%;
top: 0%;
bottom: 0.77%;

background: #E7E8E8;


/* TANGO */

position: absolute;
width: 104.77px;
height: 19.66px;
left: 0px;
top: 30.34px;



/* Vector */

position: absolute;
width: 18.95px;
height: 19.58px;
left: 85.82px;
top: 30.42px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 17.67px;
height: 19.58px;
left: 63.05px;
top: 30.42px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 15.36px;
height: 19.6px;
left: 41.75px;
top: 30.34px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 17.86px;
height: 19.6px;
left: 17.83px;
top: 30.34px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 15.68px;
height: 19.6px;
left: 0px;
top: 30.34px;

background: #E7E8E8;


/* GroupModulesCreator */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 836px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 99px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 53px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Services */

width: 53px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
isolation: isolate;

width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-CaretDown

chevron, directional, pointer, pointing, arrowhead, triangle, arrows
*/

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
z-index: 0;


/* Vector */

position: absolute;
left: 14.05%;
right: 14.05%;
top: 32.81%;
bottom: 26.54%;

background: #928C97;


/* Ellipse 1 */

position: absolute;
display: none;
width: 6px;
height: 6px;
right: -3px;
top: -3px;

background: #10A957;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 62px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 38px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About */

width: 38px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 59px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 35px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Team */

width: 35px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 75px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 51px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Insights */

width: 51px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 73px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 49px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Careers */

width: 49px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 74px;
height: 44px;

background: #21222C;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 50px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Contact */

width: 50px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* GroupModulesCreator */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 12px;

width: 176px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Buttons (Primary) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 33px;
gap: 10px;

width: 160px;
height: 36px;

border: 1px solid #E9B26D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* PLACEHOLDER TEXT */

width: 180px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #F8C483;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
