/* 5a) Insights */

position: relative;
width: 1440px;
height: 2822px;

background: #F5F5F7;


/* Rectangle 41990 */

position: absolute;
width: 1440px;
height: 2822px;
left: 0px;
top: 0px;

background: #171820;


/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 72px;
gap: 40px;

position: absolute;
width: 1440px;
height: 511px;
left: 0px;
top: 2311px;

background: #171820;


/* Frame 427321677 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 92px;

width: 1296px;
height: 183.18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321703 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 60px;

width: 461px;
height: 183.18px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321688 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 461px;
height: 105px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Delta Tango Advisory Trusted advisors to organisations operating in complex environments where discretion, precision, and accountability matter. We simplify complex programmes so teams can focus on what matters. */

width: 422px;
height: 105px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 150%;
/* or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1321321276 */

width: 46px;
height: 18.18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Social media */

position: absolute;
width: 18px;
height: 18px;
left: 0px;
top: 165.18px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Social media */

position: absolute;
width: 18px;
height: 18px;
left: 28px;
top: 165px;



/* Group */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;



/* Vector */

position: absolute;
left: 0%;
right: 0.06%;
top: 0%;
bottom: 0.02%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 24.32%;
right: 24.32%;
top: 24.33%;
bottom: 24.31%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 70.7%;
right: 17.3%;
top: 17.3%;
bottom: 70.71%;

background: #FFFFFF;


/* Frame 427321712 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 189px;
height: 149px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* COMPANY */

width: 189px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Services */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* About */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Team */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Insights */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 427321709 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 189px;
height: 149px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* SERVICES */

width: 189px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Operational Excellence */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* P3 Management */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Management Advisory */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Assurance */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Frame 427321713 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 189px;
height: 119px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* CONTACT */

width: 189px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Start a conversation */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;
text-decoration-line: underline;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* contact@deltatango.com.au */

width: 189px;
height: 21px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 02 7228 7923 */

width: 189px;
height: 24px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
display: flex;
align-items: center;
letter-spacing: -0.2px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 427321679 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1296px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Line 1 */

width: 1296px;
height: 0px;

border: 1px solid #928C97;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 427321699 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 1296px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 427321679 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 492px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* © 2026 Delta Tango Advisory. All Rights Reserved. */

width: 353px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 1 */

width: 2px;
height: 2px;

background: #928C97;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Terms */

width: 36px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 1 */

width: 2px;
height: 2px;

background: #928C97;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Privacy */

width: 51px;
height: 16px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Main Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 76px 72px 112px;
gap: 60px;

position: absolute;
width: 1440px;
height: 1751px;
left: 0px;
top: 560px;

background: #F5F5F7;


/* Grid */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 0px;
gap: 40px;

width: 1296px;
height: 387px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 54 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 1296px;
height: 387px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 45 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 636px;
height: 381px;

background: url(unnamed.jpg);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 81px;
height: 28px;

background: rgba(64, 152, 249, 0.8);
border: 1px solid #000000;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Featured */

width: 53px;
height: 9px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 632px;
height: 387px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 33 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 21px;

width: 632px;
height: 168px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 94px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Case Study */

width: 66px;
height: 9px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* AML/CTF Operating Model Uplift (Financial Services) */

width: 632px;
height: 76px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 120%;
/* or 38px */
display: flex;
align-items: center;
letter-spacing: -0.9px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Cristian Di Fabio • 4th March, 2025 • 4 min read */

width: 632px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Redesigned end-to-end processes, role clarity and training to address regulator findings, uplift controls, and reduce false positives. */

width: 632px;
height: 48px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 72 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1296px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 69 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 503px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 43px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* All */

width: 15px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 90px;
height: 28px;

background: rgba(233, 178, 109, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Case Study */

width: 62px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: rgba(233, 178, 109, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 128px;
height: 28px;

background: rgba(233, 178, 109, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Financial Services */

width: 100px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 125px;
height: 28px;

background: rgba(233, 178, 109, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Operating Models */

width: 97px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 71 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1296px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 61 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 405.33px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 45 */

width: 405.33px;
height: 230px;

background: url(3.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 405.33px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 405.33px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Delivering Complex Programs in High Security Environments */

width: 405.33px;
height: 56px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.5px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Cristian DiFabio • March 2, 2026 • 5 min read */

width: 405.33px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis mi ac nibh placerat finibus phasellus urna leo, sodales condimentum */

width: 405.33px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 65 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 405.33px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 45 */

width: 405.33px;
height: 230px;

background: url(Untitled design.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 405.33px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 405.33px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* From Strategy to Execution: Turning Plans into Measurable Outcomes */

width: 405.33px;
height: 56px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.5px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Christian Gevaux • December 3, 2025 • 4 min read */

width: 405.33px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis mi ac nibh placerat finibus phasellus urna leo, sodales condimentum */

width: 405.33px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 64 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 405.33px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 45 */

width: 405.33px;
height: 230px;

background: url(10.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 405.33px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 405.33px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Operational Resilience in an Era of Rapid Change */

width: 405.33px;
height: 56px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.5px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Christian Gevaux • September 5, 2025 • 4 min read */

width: 405.33px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis mi ac nibh placerat finibus phasellus urna leo, sodales condimentum */

width: 405.33px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 73 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1296px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 61 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 405.33px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 45 */

width: 405.33px;
height: 230px;

background: url(3.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 405.33px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 405.33px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Delivering Complex Programs in High Security Environments */

width: 405.33px;
height: 56px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.5px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Cristian DiFabio • March 2, 2026 • 5 min read */

width: 405.33px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis mi ac nibh placerat finibus phasellus urna leo, sodales condimentum */

width: 405.33px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 65 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 405.33px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Frame 45 */

width: 405.33px;
height: 230px;

background: url(Untitled design.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 405.33px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 405.33px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* From Strategy to Execution: Turning Plans into Measurable Outcomes */

width: 405.33px;
height: 56px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.5px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Christian Gevaux • December 3, 2025 • 4 min read */

width: 405.33px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis mi ac nibh placerat finibus phasellus urna leo, sodales condimentum */

width: 405.33px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 64 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 28px;

width: 405.33px;
height: 484px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Frame 45 */

width: 405.33px;
height: 230px;

background: url(10.png);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 405.33px;
height: 226px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Badge */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 14px;

width: 93px;
height: 28px;

background: #E9B26D;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Compliance */

width: 65px;
height: 8px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
/* or 150% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 405.33px;
height: 86px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Operational Resilience in an Era of Rapid Change */

width: 405.33px;
height: 56px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: -0.5px;
font-feature-settings: 'zero' on;

color: #171820;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Christian Gevaux • September 5, 2025 • 4 min read */

width: 405.33px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mattis mi ac nibh placerat finibus phasellus urna leo, sodales condimentum */

width: 405.33px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;
letter-spacing: -0.3px;
font-feature-settings: 'zero' on;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
width: 1440px;
height: 1350px;
left: 0px;
top: 0px;

opacity: 0.8;
transform: matrix(1, 0, 0, -1, 0, 0);


/* Navbar */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 1440px;
height: 120px;
left: 0px;
top: 0px;



/* navbar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 20px 72px;
gap: 54px;

width: 1440px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 176px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Brand */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;

display: none;
width: 48px;
height: 48px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1321321270 */

width: 104.77px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Group 1321321267 */

position: absolute;
width: 104.77px;
height: 50px;
left: 0px;
top: 0px;



/* Group 1321321266 */

position: absolute;
width: 104.77px;
height: 50px;
left: 0px;
top: 0px;



/* Group 1171275226 */

position: absolute;
width: 104.77px;
height: 25.67px;
left: 0px;
top: 0px;



/* Layer_1 */

position: absolute;
width: 104.77px;
height: 25.67px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 24.24%;
right: 58.62%;
top: 0%;
bottom: 0.85%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 45.41%;
right: 39.32%;
top: 0.06%;
bottom: 0.79%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 74.49%;
right: 0%;
top: 0.06%;
bottom: 0.79%;

background: #E7E8E8;


/* Group */

position: absolute;
left: 0%;
right: 77.51%;
top: 0.05%;
bottom: 0.29%;



/* Vector */

position: absolute;
left: 0.01%;
right: 81.8%;
top: 73.18%;
bottom: 0.29%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 9.85%;
right: 77.51%;
top: 1.37%;
bottom: 12.55%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 0%;
right: 88.03%;
top: 0.05%;
bottom: 0.33%;

background: #E7E8E8;


/* Vector */

position: absolute;
left: 58.66%;
right: 22.95%;
top: 0%;
bottom: 0.77%;

background: #E7E8E8;


/* TANGO */

position: absolute;
width: 104.77px;
height: 19.66px;
left: 0px;
top: 30.34px;



/* Vector */

position: absolute;
width: 18.95px;
height: 19.58px;
left: 85.82px;
top: 30.42px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 17.67px;
height: 19.58px;
left: 63.05px;
top: 30.42px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 15.36px;
height: 19.6px;
left: 41.75px;
top: 30.34px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 17.86px;
height: 19.6px;
left: 17.83px;
top: 30.34px;

background: #E7E8E8;


/* Vector */

position: absolute;
width: 15.68px;
height: 19.6px;
left: 0px;
top: 30.34px;

background: #E7E8E8;


/* GroupModulesCreator */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;

width: 836px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 99px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 53px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Services */

width: 53px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;
isolation: isolate;

width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-CaretDown

chevron, directional, pointer, pointing, arrowhead, triangle, arrows
*/

width: 12px;
height: 12px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
z-index: 0;


/* Vector */

position: absolute;
left: 14.05%;
right: 14.05%;
top: 32.81%;
bottom: 26.54%;

background: #928C97;


/* Ellipse 1 */

position: absolute;
display: none;
width: 6px;
height: 6px;
right: -3px;
top: -3px;

background: #10A957;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 62px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 38px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* About */

width: 38px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 59px;
height: 44px;

border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 35px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Team */

width: 35px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 75px;
height: 44px;

background: #21222C;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 51px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Insights */

width: 51px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 73px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 49px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Careers */

width: 49px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* navItemMenu */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

width: 73px;
height: 44px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* icon-title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 49px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Contact */

width: 49px;
height: 20px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #928C97;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* IconBase */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

display: none;
width: 12px;
height: 12px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* GroupModulesCreator */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 12px;

width: 176px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Buttons (Primary) */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 33px;
gap: 10px;

width: 160px;
height: 36px;

border: 1px solid #E9B26D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* PLACEHOLDER TEXT */

width: 180px;
height: 22px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 1.2px;
text-transform: uppercase;

color: #F8C483;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hero Sections */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 76px 0px;
gap: 64px;

position: absolute;
width: 1440px;
height: 438px;
left: 0px;
top: 121px;

background: #171820;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1440px;
height: 286px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 427321929 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 1440px;
height: 37px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* // insights */

width: 616px;
height: 17px;

font-family: 'IBM Plex Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 118% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 2.2px;
text-transform: uppercase;

color: #E9B26D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 427321834 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6px 0px;
gap: 40px;

width: 950px;
height: 212px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 427321750 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 950px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* heading */

width: 950px;
height: 112px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 56px;
/* or 117% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -2px;
font-feature-settings: 'zero' on;

/* White/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Our thought leadership from our delivery and governance work: project assurance, strategy, operating models, and service design. Written to help leaders make better, faster decisions. */

width: 950px;
height: 72px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 36px;
/* or 180% */
text-align: center;

color: #928C97;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
